
$theme-primary-color: #5925dc;
$theme-color-hover: #3b1699;
$theme-background-section: #f5f5f5;
$theme-accent-color: #ffffff;
$theme-paragraph-color:#767676;
$theme-section-color: #eee;

$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;